{% extends "base.html" %}

{% block title %}photo_form.html{% endblock %}

{% load staticfiles %}
{% block extrastyle %}{% static "css/forms.css" %}{% endblock %}

{% block content %}
<div id="content">

    <h1>사진 만들기와 올리기 - {{user}}</h1>

    {% if form.is_multipart %}
    <form enctype="multipart/form-data" method="post" action=".">
    {% else %}
    <form method="post" action=".">
    {% endif %}
    {% csrf_token %}

    {% if form.errors %}
    <p class="errornote">에러발생!</p>
    {% endif %}

    <p>너의 사진들을 올려</p>

    <fieldset class="aligned">

        <div class="form-row">
            {{ form.image.label_tag }} {{ form.image }}
        </div>

        <div class="form-row">
            {{ form.album.label_tag }} {{ form.album }}
            <button type="button"><a href="{% url 'photo:album_add' %}">앨범 추가</a></button>
        </div>

        <div class="form-row">
            {{ form.title.label_tag }} {{ form.title }}
        </div>

        <div class="form-row">
            {{ form.description.label_tag }} {{ form.description }}
        </div>

    </fieldset>

    <div class="submit-row">
        <input type="submit" value="Submit"/>
    </div>

    <script type="text/javascript">document.getElementById('id_album').focus();</script>

    </form>

</div>
{% endblock %}
