<!DOCTYPE html>
<html lang="ko">

<head>
<title>{% block title %}2조 장고 홈페이지{% endblock %}</title>

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "css/base.css" %}{% endblock %}" />
<link rel="stylesheet" type="text/css" href="{% block extrastyle %}{% endblock %}" />

</head>

<body>

<div id="header">
    <h2 class="maintitle">쉽고&amp;빠른 장고 걸스 웹 프로그래밍</h2>
    {% if user.is_active %}
    <h4 class="welcome">어서오세요,
                <strong>{% firstof user.get_short_name user.get_username %}</strong> /
                <a href="{% url 'password_change' %}">비밀번호 바꾸기</a> /
                <a href="{% url 'logout' %}">로그아웃</a>
    </h4>
    {% else %}
    <h4 class="welcome">어서오세요 /
                <a href="{% url 'login' %}">로그인</a> /
                <a href="{% url 'register' %}">등록하기</a>
    </h4>
    {% endif %}
</div>

<div id="menu">
    <button class"btn-1"><a href="{% url 'home' %}">홈</a></button>
    <button class"btn-2"><a href="{% url 'bookmark:index' %}">책갈피</a></button>
    <button class"btn-3"><a href="{{% url 'blog:index' %}">블로그</a></button>
    <button class"btn-4"><a href="{% url 'photo:index' %}">앨범</a></button>

    <li><button class"btn-5">추가</button>
        <ul>
            <li><a href="{% url 'bookmark:add' %}">책갈피</a></li>
            <li><a href="{% url 'blog:add' %}">새 글</a></li>
            <li><a href="{% url 'photo:album_add' %}">사진앨범</a></li>
            <li><a href="{% url 'photo:photo_add' %}">사진</a></li>
        </ul>
    </li>

    <li><button class"btn-6">변경</button>
        <ul>
            <li><a href="{% url 'bookmark:change' %}">책갈피</a></li>
            <li><a href="{% url 'blog:change' %}">새 글</a></li>
            <li><a href="{% url 'photo:album_change' %}">사진앨범</a></li>
            <li><a href="{% url 'photo:photo_change' %}">사진</a></li>
        </ul>
    </li>
    <button class"btn-7"><a href="{% url 'blog:post_archive' %}">기록</a></button>
    <button class"btn-8"><a href="{% url 'blog:search' %}">검색</a></button>
    <button class"btn-9"><a href="{% url 'admin:index' %}">가입</a></button>

</div>

{% block content %}{% endblock %}

{% block footer %}{% endblock %}

</body>
</html>
